/* stile generale della pagina */

.fill-height {
	-ms-flex: 1;
		flex: 1;
}

.flx-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
		flex-direction: column;
	height: 100%;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

div.box {
	border-radius: 10px;
	border: 1px solid #708090;
	background-color: #f5f5f5;
	/* text-align: center; */
	padding: 25px;
	margin-top: 20px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-bottom: 15px;
}

.box-title {
	font-weight: bold;
	font-size: 17px;
}

.head-button {
	border-radius: 10px;
	border: 1px solid slategrey;
	background-color: rgba(219, 219, 219, 0.75);
	width: 55px;
	height: 55px;
	margin-top: 3px;
	  margin-left: 3px;
}

.head-button:hover {
	cursor: pointer;
	background-color: #dbdbdb;
}

.head-button:hover:disabled {
	cursor: default;
}

.head-button:disabled {
	background-color: #ababab;
}

.head-button > img {
	width: 36px;
	height: 38px;
}

.head-button.small {
	width: 45px;
	height: 45px;
}

#navigationBar {
	background-color: #0677af;
	height: 60px;
	display: -ms-flexbox;
	  display: flex;
	  -ms-flex-pack: justify;
	justify-content: space-between;
}

.btn {
	color: #212529;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	padding: 1px 7px;
	font-size: 1rem;
	border-radius: .25rem;
	background-color: #d3d3d3;
	border-color: #6b6b6b;
	margin-left: 2px;
	vertical-align: top;
}

.btn:hover {
	background-color: #cacaca;
}

.head-right-container {
	display: flex;
}

#loginStatusImg {
	width: 53px;
	height: 53px;
	margin-left: 10px;
	margin-top: 2px;
	cursor: pointer;
}

/* -------------------------------------------- stile degli alert -------------------------------------------- */
.alert {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 12px;
	color: white;
	-webkit-animation: fadein 1s;
			animation: fadein 1s;
	border-radius: 5px;
	border: 1px solid transparent;
}

.alert.warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert.info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert.success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert.error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert > .closebtn {
	margin-left: 15px;
	color: #000;
	text-decoration: none;
	filter: alpha(opacity=50);
	opacity: 0.5;
	float: right;
	font-size: 25px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.alert > .closebtn:hover {
	color: darkgray;
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 480px) {
	/* nascondo i loghi perche' altrimenti mandano capo i bottoni dell'header */
    #customLogoArea {
        display: none;
	}
}